$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.datatable {
  display: none;
}

.chart-area-womens-recession-intro {
  @import "type";
  @import "highcharts";

  box-sizing: border-box;
  font-family: $font-stack;
  margin-bottom: 130vh;
  margin-top: -100px;
  max-width: 1000px;
  @include sm-md-xl(){
    width: 85vw;
  }

  .highcharts-plot-background {
    fill: none !important;
  }

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 80vh;
    margin-top: -10px;
    @include sm-md-xl {
      height: 400px;
    }
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  .chart-area {
    
  }
  .parent {
      position: relative;
  }
  .narrative {

  }
  .hidden-item {
    margin-bottom: -80vh;
    background: none !important;
    border: none !important;
  }
  .narrative-item {
      width: 400px;
      display: block;
      margin: 0 auto;
      margin-top: 80vh;
      color: #ccc;
      transition: color 200ms;
      padding: 20px;
      @include x-small() {
        width: 300px;
        padding: 10px;
      }
      &:first-child {
        margin-top:100vh;
      }
  }
  .narrative-item.active {
      background:rgba(255,255,255,1);
      border: 1px solid $slate-secondary-4;
      color: black;
  }
  .sticky-outer {
      position: absolute;
      height: calc(100% + 200vh);
      width: 100%;
      top: -80vh;
      left: 0;
      z-index: -1;
      background-color: white;
  }

  .chart {
      width: 100%;
      height: 400px;
      box-sizing: border-box;
      text-align: center;
      font-size: 30px;
      @include sm-md-xl(){
        height: 80vh;
        max-height: 550px;
      }
  }

  .two-step-sticky-wrapper {
    top: 10vh !important;
  }

  #gradient-0 stop {
    stop-color: $slate-secondary-3;
  }
  #gradient-0 stop[offset="0"] {
    stop-opacity: 0.60;
  }
  #gradient-0 stop[offset="1"] {
    stop-opacity: 0;
  }
  .highcharts-plot-background {
    fill: url(#gradient-1);
  }
  .highcharts-color-0 .highcharts-area {
    fill-opacity: 1;
    fill: url(#gradient-0);
  }

  .highcharts-annotation-shapes {
    fill: $purple-secondary-3;
    fill-opacity: 1;
    stroke: white;
    & path {
      stroke-dasharray: 2;
      stroke-width: 3;
      stroke: $purple-secondary-3;
    }
  }

  .men-primary {
    fill: $yellow-secondary-4;
    font-size: 16px;
    font-weight: 600;
  }
  .women-primary {
    fill: $purple-primary;
    font-size: 16px;
    font-weight: 600;
  }
  .women-secondary-1 {
    fill: $purple-secondary-3;
    font-weight: 500;
    background-color: white;
    padding: 0 2px;
  }
  .women-secondary-2 {
    fill: $purple-primary;
    font-weight: 500;
  }
  .women-secondary-3 {
    fill: $purple-secondary-6;
    font-weight: 500;
  }

  .highcharts-grid-line {
    &:first-child, &:last-child {
      stroke-width: 0;
    }
  }

  .highcharts-annotation {
    animation: fadeIn ease 1s;
-webkit-animation: fadeIn ease 1s;
-moz-animation: fadeIn ease 1s;
-o-animation: fadeIn ease 1s;
-ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
  
}

// @import "social";
