$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.datatable {
  display: none;
}

.chart-area {
  @import "type";
  @import "highcharts";

  box-sizing: border-box;
  font-family: $font-stack;
  margin-bottom: 130vh;
  // margin-top: -100px;
  max-width: 630px;
  @include sm-md-xl(){
    width: 85vw;
  }
  p {
    &:first-child {
      margin-block-start: 0px;
    }
    &:last-child {
      margin-block-end: 0px;
    }
  }



  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 80vh;
    margin-top: -10px;
    @include sm-md-xl {
      height: 400px;
    }
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  .chart-area {
    
  }
  .parent {
      position: relative;
  }
  .narrative {

  }
  .hidden-item {
    background: none !important;
    border: none !important;
    height: 80vh;
    margin-bottom: -80vh !important;
  }
  .narrative-item {
      width: 400px;
      display: block;
      margin: 0 auto;
      margin-top: 80vh;
      color: #ccc;
      transition: color 200ms;
      padding: 20px;
      background:rgba(255,255,255,1);
        border: 1px solid #ccc;
      @include x-small() {
        width: 300px;
        // padding: 0;
      }
      @include sm-md-xl(){
        background:rgba(255,255,255,1);
        border: 1px solid #ccc;
      }
      &:first-child {
        margin-top:80vh;
      }
  }
  .narrative-item.active {
      color: black;
      background:rgba(255,255,255,1);
        border: 1px solid $slate-secondary-4;
      @include sm-md-xl(){
        background:rgba(255,255,255,1);
        border: 1px solid $slate-secondary-4;
      }
  }
  .sticky-outer {
      position: absolute;
      height: calc(100% + 200vh);
      width: 100%;
      top: -60vh;
      left: 0;
      z-index: -1;
      @include sm-md-xl(){
        // z-index: -1;
      }
  }

  .chart-sticky {
    background-color: white;
    // border-top: 1px solid $slate-secondary-3;
    padding: 20px 20px 0;
    height: 100vh;
    @include sm-md-xl(){
      height: 45vh;
      border: none;
    }
  }

  .flex-container {
    display: flex;
  }

  .jacob, .lisa {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 16px;
    & p {
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
    & #jacobs-money, & #lisas-money {
      color: $green-primary;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }

  .lisa {
    text-align: right;
  }

  .chart-title {
    height: 22px;
  }

  .money-info {
    display: none;
    margin-bottom: -104px;
  }

  .chart {
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      text-align: center;
      font-size: 30px;
      // background-color: $slate-secondary-3;
  }

  .two-step-sticky-wrapper {
    top: 5vh !important;
    background-color: white;
  }

  .jacob-illo {
    width: 75%;
    margin: 120px 0 0 10%;
  }

  .lisa-illo {
    width: 70%;
    margin: 120px 0 0 30%;
    display: none;
  }

  .highcharts-series {
    & rect:last-child {
      fill: $green-primary;
    }
  }

  .jacob {
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:first-child {
        transform: translate(16px,0) !important;
      }
    }
  }

  .lisa {
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(22px,0) !important;
      }
    }
  }

  #gradient-0 stop {
    stop-color: $slate-secondary-3;
  }
  #gradient-0 stop[offset="0"] {
    stop-opacity: 0.60;
  }
  #gradient-0 stop[offset="1"] {
    stop-opacity: 0;
  }
  .highcharts-color-0 .highcharts-area {
    fill-opacity: 1;
    fill: url(#gradient-0);
  }

  .highcharts-annotation-shapes {
    fill: $purple-secondary-3;
    fill-opacity: 1;
    stroke: white;
    & path {
      stroke-dasharray: 2;
      stroke-width: 3;
      stroke: $purple-secondary-3;
    }
  }

  .men-primary {
    fill: $yellow-secondary-4;
    font-size: 16px;
    font-weight: 600;
  }
  .women-primary {
    fill: $purple-primary;
    font-size: 16px;
    font-weight: 600;
  }
  .women-secondary-1 {
    fill: $purple-secondary-3;
    font-weight: 500;
    background-color: white;
    padding: 0 2px;
  }
  .women-secondary-2 {
    fill: $purple-primary;
    font-weight: 500;
  }
  .women-secondary-3 {
    fill: $purple-secondary-6;
    font-weight: 500;
  }

  .highcharts-grid-line {
    &:first-child, &:last-child {
      stroke-width: 0;
    }
  }


  
}

// @import "social";
